<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>David Avilés</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v4.7.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>


  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->

  <!-- ======= Hero Section ======= -->


  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>David Avilés Brun</h2>
    
        </div>




          <div class="row">
            <div class="col-lg-4">
              <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
              <h3>Desarrollador & Data Scientist. (In progress).</h3>
              <p class="fst-italic">
                <strong> 2021.</strong>
                Comencé a estudiar programación de manera autodidacta, partiendo con Phyton en CodeAcaddemy.com, en
                donde me interesé prontamente por la inteligencia artificial, por lo mismo me aventuré a estudiar Data
                Science al mismo tiempo incursionando en la programación app y web.
              </p>
              <p>Hoy en día me encuentro iniciando en
                este nuevo mundo laboral, realizando un cambio abrupto desde el área
                comercial. Actualmente me encuentro como Software Developper en Acofuz.</p>
              <div class="row">

                <div class="col-lg-6">


        </div>
    </section><!-- End About Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Actualmente</h3>
            <div class="resume-item pb-0">
              <h4>Software Developper - Acofuz</h4>
              <h5>2022 - Actualidad.</h5>
              <p><em>Optimizando codigo orientado a visión de computadora, machine learning y aplicaciones varias,
                  refraccionando y optimizando los tiempos de carga y economía de recursos, re-pensando la compilación
                  del programa aplicando paralelismo y concurrencias. </em></p>
              <ul>
              </ul>
            </div>

            <h3 class="resume-title">Educación</h3>
            <div class="resume-item">
              <h4>Programación autodidacta</h4>
              <h5>2021 - Actualidad.</h5>
              <p><em>Universidad Academía de Humanismo Cristiano</em></p>
              <p>Python3, Javascript, Java, DataScience Carrer Path, dockets, SQL, cloud computing, varios.</p>
            </div>
            <div class="resume-item">
              <h4>Licenciatura en Psicología</h4>
              <h5>2016 - 2019</h5>
              <p><em>Universidad Academía de Humanismo Cristiano</em></p>
              <p>Universidad Academía de Humanismo Cristiano</em></p>
              <p>Donde por oportunidades y desafios que no pude ignorar, no pude terminar la carrera. Aun así, los
                recursos de comunicación, empatía y pensamiento critico, han sido una parte fundamental en mi
                trayectoría personal.</p>
            </div>

            <h3 class="resume-title">Hábilidades Relevantes</h3>
            <div class="resume-item">
              <h4> Tecnologías</h4>
              <h5>Python</h5>
              <h5>SQL </h5>
              <h5> JavaScript </h5>
              <h5>Flask</h5>
              <h5> CSS/HTML </h5>
              <h5> Django</h5>
              <h5> Node.js </h5>
              <h5>Pandas</h5>
              <h5>Numpy</h5>
              <h5>Matplotlib</h5>
              <h5>Seaborn</h5>
            </div>

            <div class="resume-item">
              <h4>Hábilidades</h4>
              <h5>orientación al Logro</h5>
              <h5>Inglés C1 </h5>
              <h5> Comunicación Asertiva </h5>
              <h5>Team Player</h5>
              <h5> Autodidacta </h5>
              <h5>Pensamiento critico</h5>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Experiencia Profesional </h3>
            <div class="resume-item">
              <h4>Asesor Comercial B2B Equifax</h4>
              <h5>09/2020 - 10/2021</h5>
              <p><em> Salesland </em></p>
              <ul>
                <li>Expandir relaciones comerciales, mediante la construcción de base de datos de potenciales clientes.
                </li>
                <li>Generar nuevas relaciones comerciales mediante prospección telefónica, practiando una escucha activa
                  para facilitar la detección de necesitades.</li>
            </div>
            <div class="resume-item">
              <h4>Co-fundador</h4>
              <h5>2019 - 2020</h5>
              <p><em>Panadería Pucará </em></p>
              <ul>
                <li>Liderar y consolidar emprendimiento definiendo y ejecutando plan de negocios, mediante atención al
                  publico y comercio B2B, llegando a un record de ventas de 2.8M mensuales.</li>
                <li>Generar y administrar información financiera, manteniendo actualizado las metricas importantes para
                  la toma de decisiones</li>
            </div>
            <div class="resume-item">
              <h4>Gerente Comercial</h4>
              <h5>2017 - 2019</h5>
              <p><em>Carpe Diem Industrial</em></p>
              <ul>
                <li>Desarrollar plan comercial, expandiendo cartera de clientes y duplicando la facturación mensual en
                  un periodo de seis meses</li>
                <li>Coordinar y elaborar propuestas para mercado público y proyectos privados</li>
                <li>Dirigir y movilizar equipo comercial de cuatro personas, estableciendo objetivos y estrategias de
                  motivación.</li>
                <li>Proponer y representar alianzas estratégicas con colaboradores externos, estableciendo metricas de
                  control, tanto en producción como en calidad para asegurar la satisfacción de los clientes</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  <!-- Vendor JS Files -->

  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>